.side-bar
  .side-bar__username
    .side-bar__username__top-items
      .side-bar__username__top-items__name
        = current_user.name
      .side-bar__username__top-items__icons
        = link_to new_group_path,class:"side-bar__username__top-items__icons--edit" do
          = icon('far','edit',class:"side-bar__username__top-items__icons--icon")
        = link_to edit_user_path(current_user),class:"side-bar__username__top-items__icons--cog" do
          = icon('fas','cog',class:"side-bar__username__top-items__icons--icon")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__content
        = link_to group_messages_path(group) do
          .side-bar__group-list__content__name
            = group.name
          .side-bar__group-list__content__message
            = group.show_last_message